.toDoText {
  display: inline-block;
  margin-left: 1rem;
  color: rgb(125 126 137);
}

.crossed {
  text-decoration: line-through;
  color: rgb(125 126 137);
}

.isCompletedCheckBox {
  width: 1.3em;
  height: 1.3em;
  border-radius: 60%;
  background-color: white;
  vertical-align: middle;
  border: 1px solid #ddd;
  appearance: none;
  outline: none;
  cursor: pointer;
}

.isCompletedCheckBox:checked {
  background-color: #898181;
}

.deleteButton {
  margin-left: auto;
  cursor: pointer;
  padding: 0.5rem;
  border: 1px #373537;
  background-color: #a3a5b2;
  color: white;
  border-radius: 12px;
  margin-right: 1rem;
}
