.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}

.footer span {
    padding: 0.2rem;
    font-size: small;
    background-color: white;
    color: #a3a5b2;
}

.completeAllButton {
    cursor: pointer;
    padding: 0.2rem;
    border: 1px;
    background-color: white;
    color: #a3a5b2;
    border-radius: 1rem;
    margin-right: 1rem;
  }
  
